.project
.settings/
dist/
*-lock.json

node_modules/*
!node_modules/cydran/cydran.min.js
!node_modules/todomvc-app-css/index.css
!node_modules/todomvc-common/base.js
!node_modules/todomvc-common/base.css
